#tabuleiro {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  height: 480px;
  border: 2px solid black;
}
.casa {
  width: 60px;
  height: 60px;
}
.clara {
  background-color: #f0d9b5;
}
.escura {
  background-color: #b58863;
}
